graft palinagent/daemon/xsd/
graft palinagent/daemon/data/
include rpm/proactive-agent.sysconfig
include rpm/proactive-agent.init
include rpm/agent.xml
include rpm/proactive-agent.1
include proactive-agent

include config.xml
