prune   doc/

graft   palinagent/daemon/xsd/
graft   palinagent/daemon/data/

include README.txt
include AUTHORS.txt
include LICENSE.txt
include INSTALL.txt

include fix_lxml
include build_lxml
include proactive-agent

include config.xml

include redhat/proactive-agent.sysconfig
include redhat/proactive-agent.init
include redhat/agent.xml
include redhat/proactive-agent.1

