Source: paagent
Section: Miscellaneous
Priority: extra
Maintainer: Vasile Jureschi <vjuresch@sophia.inria.fr>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: https://www.ohloh.net/p/pa_linux_agent

Package: paagent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:An agent for starting ProActive JVM nodes at specified times on a computer
  This package contains a set of programs to start
  and stop ProActive nodes on a machine according to
  a schedule and idle thresholds. The nodes are resource
  managed according to the configuration file.
